<div class="container mt-3">
  <div class="row d-flex justify-content-center">
    <div class="col-12">
      <div class="mini-banner"></div>
      <div class="card-cocktail">
          <%= image_tag @cocktail.cocktail_image || "cocktail_placeholder.jpg", class:"card-img-top"%>
          <div class="card-cocktail-headers">
              <h2><%= @cocktail.name %></h2>
              <p class="mb-2 text-justify">
                <% if @cocktail.ingredients.count > 0 %>
                <% ingredients = [] %>
                  <% @cocktail.ingredients.each do |ingredient| %>
                    <% ingredients << ingredient.name %>
                  <% end %>
                  <%= ingredients.join(", ") %>
                  <% end %>
              </p>
          </div>
          <div class="card_cocktail-instructions">
            <ul>
              <% @doses.each do |dose| %>
                <li><%= dose.description %></li>
              <% end %>
            </ul>
          </div>
      </div>
    </div>
  </div>
</div>
