ul {
  padding: 0px 16px 0px 30px;
}

li {
  font-size: 12px;
}

.card-cocktail {
  overflow: hidden;
  background: indigo;
  margin: 16px 0px;
  border-radius: 3px;
  color: white;
}

.card-cocktail img {
  height: 96px;
  width: 100%;
  object-fit: cover;
}

.card-cocktail h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-cocktail p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-cocktail .card-cocktail-infos {
  padding: 16px;
}

.card-cocktail-infos {
  height: 129px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-cocktail-headers {
  padding: 16px 16px 0px 16px;
}
